*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

 
         
}




/*Estilos del menu*/

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font: size 18px;
    font-weight: bold;
    background-color: #f2811d;
}

.carousel-inner{
max-height: 40rem;
}

#button-service button {
    font: size 18px;
    font-weight: bold;
    background-color: #f2811d;
}


.mapa{
    background: url(/image/Captura.PNG), none repeat scroll 0;
    width: 100%;
    height: 500px;
}

#local{
    background: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left:100px;
    padding-top: 150px;
}

#numeros-local div{
    padding: 0 20px 0 0;
    height: 48px;

}

#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
    padding-left: 20px;
}

#numeros-local p{
    margin: 0;
}


@media(max-width:1200px){
    #local{
        flex-wrap:wrap;
        padding-top:30px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}


/*Medoia querys*/
@media(max-width:768px){
    #intro, #equipo{
        width: 90%  !important;
    }

    #equipo p{
        display: none;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }

    #bg-contactos{
        position: relative;
        top: -110px;
    }
}



/*pantallas mas pequenas sm*/
@media(main-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}


#bg-contactos{
    position: relative;
    top: -130px;
}

#seccion-contacto{
    background-color:#f3f3f3;
    min-height: 500px;
    position: relative;
}

#contenedor-formulario{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

titulo-formulario{
    color: #3f3f3f;
}

.mi-enlace:hover {
    border-radius: 10px;
    background-color: #f2811d; 
}

.btn:hover {    
    color: #f3f3f3;
    background-color: #f2811d;
    border-color: #f2811d;
}

